#title {
    text-align:center;
    color:dodgerblue;
}
#description {
font-family:cursive;
}
#survey-form {
    text-align:center;
}
#name {    font-family:sans serif;
}
#email {
    border: 1px solid red;
}
#number {
min-width:50%;
max-width:100%;
}
#name-label {
text-align:left;
}
#email-label {
text-align:left;
}
#number-label {
    border: 1px solid red;
}
#dropdown {
    border: 1px solid red;
}
#submit {
    border: 1px solid red;
}