body {
    background-color:rgba(200, 162, 200, 0.5);
}
#title {
    text-align:center;
    color:black;
}
#description {
font-family:cursive;
text-align:center;
}
#survey-form {
    text-align:center;
    background-color:rgb(170, 51, 126, 0.4);
}
    #name-label {
        text-align: left;
}
#email-label {
text-align:left;
}
#number-label {
    text-align:left;
}
button[type="submit"] {
    border: 1px solid grey;
    padding: 10px 13.7%;
    background-color:black;
    color:blueviolet;
    font-size: larger;
}